/*
Theme Name: Simple & Elegant Child
Description: Child theme for Simple & Elegant Theme
Author: Martina Fugazzotto
Template: simple-elegant
*/
/* start write your custom CSS from here */


/** global styles **/

.entry-content p a {
    border-bottom: none;
}


/** homepage styles **/

.vogue-quote {
	text-transform: uppercase;
	font-size: 54px;
	color: #a7a9ac;

}

.home-titles {
	font-size: 24px;
	line-height: 28px;
	color: #7b7c7f;
	font-family: 'Open Sans';
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
}

#home-course-offerings .home-course-roll-content {
	width: 336px;
	height: 236px;
}

#home-course-offerings .home-course-roll-title {
	display: none;
}

#home-course-offerings .home-course-roll-content:hover .home-course-roll-title {
	display: block;
	position: absolute;
	z-index: 20;
	padding-top: 80px;
	font-size: 24px;
	color: #ffffff;
	font-family: 'Open Sans';
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	-webkit-transform: translate(0, 10px);
	-ms-transform: translate(0, 10px);
	transform: translate(0, 10px);
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

#home-course-offerings .home-course-roll-content:hover {
    background: rgba(117,179,188,0.8);
	height: 236px;
}

#home-course-offerings .home-course-roll-content:hover img {
    position: absolute;
	z-index: -1;
}








/** courses page styles **/

#course-option h2.wpb_singleimage_heading {
	font-size: 16px;
	color: #7b7c7f;
	font-family: 'Open Sans';
	font-weight: 400;
	text-transform: uppercase;

	
}


/** single course styles **/
.course-description-title {
	font-family: 'Open Sans';
	font-weight: 100;
	font-size: 20px;
	line-height: 1.5em;
	color: #5EA7B1;
	text-transform: uppercase;
	
}



/** green 5EA7B1 **/